/* Estilos generales */
.home-container {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(to right, #28a58f, #038C65);
  color: white;
}

.hero-content {
  max-width: 50%;
  text-align: left;
}

.hero-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.download-button button {
  background-color: white;
  color: #28a58f;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.download-button button:hover {
  background-color: #fff;
  color: #038C65;
  transform: scale(1.05);
}

.hero-image img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

/* Sección ¿Cómo funciona? */
.how-it-works {
  padding: 50px;
  background: white;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.step {
  text-align: center;
  max-width: 300px;
}

/* Seguridad Section */
.security-section {
  padding: 50px;
  background: white;
}

.security-features {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.feature {
  max-width: 300px;
  padding: 20px;
  background: #f2f2f2;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.feature:hover {
  background: #e0e0e0;
  transform: translateY(-5px);
}

.icon {
  color: #28a58f;
  margin-bottom: 10px;
}

/* Membresía */
.membership-section {
  padding: 50px;
  background: #f8f9fa;
}

.membership-options {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.membership {
  max-width: 300px;
  padding: 20px;
  background: white;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.membership:hover {
  background: #e0e0e0;
  transform: translateY(-5px);
}

/* Sección Descarga la App */
.cta {
  padding: 50px;
  background: #28a58f;
  color: white;
}

.cta button {
  background: white;
  color: #28a58f;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.3s;
}

.cta button:hover {
  background: #fff;
  color: #038C65;
  transform: scale(1.05);
}
